{
	"RepositoriesRoot" : "repositories",
	"MailAddress"      : "some@example.com",
	"MailHost"         : "smtp.example.com",
	"MailUsername"     : "some@example.com",
	"MailPassword"     : "mypassword"
}
