<html>
  <LINK REL=StyleSheet HREF="static/style.css" TYPE="text/css">
  <head></head>
  <body>
    <h1>Repository list</h1>
    <table>
      <tr><td><b>Repository</b></td><td><b>Checkout</b></td><td><b>Build</b></td><td><b>Test</b></td>
        {{ range . }}
        <tr>
          <td>{{ print .Name }}</td>
          <td> <a href="viewlog/{{.Name}}-checkout">{{ if .CheckoutSucc }} success {{ else }} fail {{ end }}</a></td>
          <td> <a href="viewlog/{{.Name}}-build">{{ if .BuildSucc }} success {{ else }} fail {{ end }}</a></td>
          <td> <a href="viewlog/{{.Name}}-test">{{ if .TestSucc }} success {{ else }} fail {{ end }}</a></td>
        </tr>
        {{ end }}
    </table>
    <hr>Powered by gitw
  </body>
</html>
